body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: rgb(209, 238, 204);
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

/* Complete Header Section */
.header {
    background-color: rgb(184, 230, 190);
    padding: 20px;
    border: solid 2px rgb(101, 153, 135);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */   
    background-image: linear-gradient(to bottom, rgb(184, 230, 190), rgba(122, 194, 163, 0.893));
    margin-bottom: 30px;
    min-width: 0px;
}

.logo img {
    width: 140px;
    height: auto;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    align-self: center;
    gap: 36px;


}

.links a:hover {
    background-color: rgb(48, 84, 71);
    color: #b8d7ca;
    border: solid 2px rgb(192, 225, 215);


}
.links a {
    text-decoration: none;
    color: rgb(79, 115, 120);
    background-color: rgb(202, 236, 202);
    border: solid 1px rgb(86, 118, 116);
    padding: 13px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    border-radius: 10px;

}

.upper-header {
    display: flex;
    /* padding-top: 30px; */
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    margin: 10px;
    border-bottom: dotted 3px rgb(79, 111, 94);
}

.bottom-header{
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.bottom-header-text h2 {
    width: 500px;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(42, 60, 47);
}

.bottom-header-text p {
    max-width: 600px;
    font-size: 18px;
    margin-bottom: 30px;
}

.bottom-header a {
    background-color: rgb(69, 102, 99);
    font-size: 15px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid 2px rgb(208, 241, 229);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    text-decoration: none;
    color: rgb(185, 232, 220);
}

.bottom-header-text  a:hover {
    color: rgb(70, 106, 97);
    background-color: #abd5c5;
    border: solid 3px rgb(56, 99, 96);

}



.gif img {
    max-width: 250px;
    height: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    background-color: rgb(177, 220, 196);
    border-radius: 40px;

}


/* Second Section */

.about-films {
    text-align: center;
}
.about-films h3 {
    color: #2c433e;
    border: 1px solid rgb(133, 182, 165);
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
    font-weight: lighter;
    border-radius: 30px;
    margin-bottom: 40px;
    background-color: #e5f8f4;
    box-shadow: 0 8px 16px rgba(42, 89, 55, 0.3); 
    display: inline-block;

}

.images-container {
    display: flex;
    margin-bottom: 30px;
    padding: 30px;
    gap: 90px;
    text-align: center;
    justify-content: center;
    background-color:  #d7f7f1 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */ 
    flex-wrap: wrap;  

}

.text {
    max-width: 200px;
    font-size: 15px;    
    color: #2c433e;
}

.items img{
    max-width: 200px;
    border: 2px solid rgb(39, 81, 81);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */   
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

.items {
    background-color: #a7dbd0;
    border-radius: 30px;
    border: solid 1px rgb(89, 119, 108) ;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */   
    background-image: linear-gradient(to bottom, rgb(204, 236, 222),  #a7dbd0);


}

/* Quote Section */

.quote-container {
    background-image: linear-gradient(to bottom, #a7dbd0, rgba(125, 216, 177, 0.893));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */   

}


.quote-container img{
    width: 100px;
    height: auto;
    padding: 60px;
}
.quote {
    font-size: 40px;
    font-weight: lighter;
    color: #122320;
    margin-bottom: 30px;
}

.quote-credits {
    text-align: right;
    color: #34514b;
}

/* bottom section */

.bottom-container {
    overflow: hidden;
    background-color: #d2f6eef8;
    border: 2px dotted rgb(94, 158, 136);
    padding: 30px;
    display: flex;
    margin: 60px 270px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow */   

}

.bottom-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.bottom-text h4 {
    font-size: 24px;
    margin-bottom: 0px;
    color: #285049;
}

.bottom-text p {
    font-size: 20px;
    color: #446761;
}

.bottom-container a {
    text-decoration: none;
    color: rgb(83, 126, 110);
    border-radius: 30px;
    font-size: larger;
    border: 2px solid rgb(115, 145, 133);
    display: inline-block;
    align-self: center;
    padding: 20px;
    background-color: #a7dbd0;
}

.bottom-container a:hover {
    color: rgb(188, 223, 205);
    border-radius: 30px;
    border: 2px solid rgb(220, 253, 236);
    background-color: #4e7169;
}

/* footer */

.footer {
    background-color: #407269a2;
    color: aliceblue;
    margin: 0px;
    padding: 30px;

}

.footer p {
    text-align: center;
    font-size: 14px;
}

